//Global
$site-id: "aem-bs-commons-111";

$env: 'development' !default;
$root-path: '/etc.clientlibs/bs-commons/clientlibs/assets/resources/' !default;
 
@if($env == 'development') {
  $root-path:"../../";
}

// Font family
$body-font: 'Roboto', sans-serif; 
$header-font: 'Dosis', sans-serif;

//color
$color-white:#ffffff;
$color-black:#000000;
$color-primary:#D21147;
$color-secondary:#e5e5e5;
$color-success:#28a745;
$color-danger:#d0021b;
$color-warning:#ffc107;
$color-info:#17a2b8;

//background
$bg-white:#ffffff;
$bg-black:#000000;
$bg-primary:#D21147;
$bg-secondary:#e5e5e5;
$bg-success:#28a745;
$bg-danger:#dc3545;
$bg-warning:#ffc107;
$bg-info:#17a2b8;

